form {
  max-width: 480px;
  margin: 10px auto;
  padding: 10px 20px;
  background: lightgrey;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  width: 100%;
}

body {
  background-color: red;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

fieldset {
	border: solid 3px;
}











