form {
  width: 85%;
  max-width: 720px;
  margin: 10px auto;
  padding: 10px 20px;
  background: lightgrey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
}

select {
  width: 100%;
}

.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.radio_group {
  display: flex;
  flex-direction: column;
}

.checkbox_group {
  display: flex;
  align-items: center;
}

input, select, textarea {
  margin: 10px 0 10px 0;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

fieldset {
	border: solid 3px;
}











